<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305460949206-vbnslf3p4alqupkg8htlm637cbanfrgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305460949206-vbnslf3p4alqupkg8htlm637cbanfrgj</string>
	<key>API_KEY</key>
	<string>AIzaSyAtZUCfEgLDv1aKQgkvVtyVelSxRlDpYMs</string>
	<key>GCM_SENDER_ID</key>
	<string>305460949206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseNomac</string>
	<key>PROJECT_ID</key>
	<string>manichord-flutter-sandbox</string>
	<key>STORAGE_BUCKET</key>
	<string>manichord-flutter-sandbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305460949206:ios:75330a7577be6c35f81977</string>
</dict>
</plist>